# Build output (make, ioq3 tools, iOS)
####################
build/
*.o
*.d
*.a
*.arm64
*.so
*.dylib
*.dll
*.exe
*.qvm
*.jts
*.app
*.ipa
*.xcarchive
*.dSYM/

Makefile.local

# iOS port (SDL2 static lib + CMake tree from setup_sdl2.sh)
####################
misc/ios/SDL2.framework/
misc/ios/sdl2-build/

# Editor / tags
####################
*.swp
*tags

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/
DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3


# Assets
################
baseq3/
smokinguns/